.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.custom-shadow {
    box-shadow: #0000000d 0 -3px inset, #fff 0 0 0 2px inset, #0000000f 0 4px 2px inset, #0000000a 0 0 24px 4px inset, #0000001f 0 1px 3px;
}